*.iml
*.gradle
*.jar
*.kot*
*.navigation
-core
*/secrets
*/secrets/*
*/debug
*/debug/*
*/build/generated/
*.apk
*.jar
*.war
*.tmp
*.ds*
*.ds*/*
*.externalNativeBuild
*.compose-cache
*/compose/
*/compose/*
*/code-coverage
*/*